@import url('http://fonts.cdnfonts.com/css/harry-potter');

:root {
  font-family: 'Harry Potter', sans-serif;
}

.Gryfindor {
  /* colors of class */
  
  --primary-color: #AE0001;
  --secondary-color: #EEBA30;
  --tertiary-color: #C0C0C0;
  
  /*properties of class*/
  background: var(--secondary-color);
  border: solid 5px var(--primary-color);
  border-radius: 20px;
  margin: 30px; 
  width: 85px;
  height: 85px;
  text-align: center;
  padding-top: 15px;
}

.Slytherin {
  /* colors of class */
  --primary-color: #1A472A;
  --secondary-color: #2A623D;
  --tertiary-color: #5D5D5D;
  width: 85px;
  height: 85px;
  text-align: center;
  padding-top: 15px;
}

.Ravenclaw {
 /* colors of class */
  --primary-color: #0E1A40;
  --secondary-color: #222F5B;
  --tertiary-color: #9A5B2D;
  width: 85px;
  height: 85px;
  text-align: center;
  padding-top: 15px;
}
}
